.container {
  display: flex;
}

.container input {
  display: none;
}

.circle {
  position: relative;
  cursor: pointer;
  height: 28px;
  width: 56px;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 56px;
  background: #171616;
  transition: background 0.3s, border-color 0.3s;
}

.circle::before {
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #ea7107;
  border-radius: 50%;
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s;
}

input:checked + .circle {
  background-color: #e7eaed;
  border-color: #c5c8cb;
}

input:checked + .circle::before {
  transform: translateX(28px);
  background-color: #185fa5;
}